@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.leaflet-container img {
    max-width: none !important;
}

@keyframes flash-red {
    0%,
    100% {
        border-color: #404040;
    }
    30% {
        border-color: #ef4444;
        box-shadow: 0 0 0 1px #ef4444;
    }
}

.flash-red {
    animation: flash-red 0.5s ease-out;
}

@keyframes flash-blue {
    0%,
    100% {
        border-color: #404040;
    }
    30% {
        border-color: #3b82f6;
        box-shadow: 0 0 0 1px #3b82f6;
    }
}
.flash-blue {
    animation: flash-blue 0.5s ease-out;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body,
    #root {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    body {
        font-family:
            system-ui,
            -apple-system,
            sans-serif;
        background-color: #111;
        color: #fff;
    }
}
